.questions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 80px;
    margin-block: 80px;
    background-color: white;
    border-radius: 20px;
}

.questions p {
    padding-left: 80px;
}

.questions img {
    margin: 10px;
    height: 200px;
    width: 400px;
    border-radius: 10px;
}